.box {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 10px;
    box-shadow: 0 0 10px #888888;
    flex: 1 0 auto;
    max-height: fit-content;
}

.breakline {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 10px);
    margin: 5px 5px 5px 5px;
    max-height: fit-content;
}

.previews {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: center;
    gap: 10px;
    max-height: fit-content;
}

.pager {
    margin-top: auto;
}
