.container {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    height: 22px;
}

.tag {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
