.titleBoxContainer {
    display: flex;
    flex-direction: row;
}

.titleBoxButtonContainer {
    margin-left: auto;
    margin-right: 0px;
}

.titleBoxButton1, .titleBoxButton2 {
    height: 100%;
    width: 28px;
}

.titleBoxButton1 {
    margin-right: -1px;
}

.savedQueriesOuterContainer {
    width: 247px;
    overflow: auto;
    max-height: 300px;
}

.savedQueriesInnerContainer {
    width: 230px;
}
