.box {
    border-radius: 10px;
    /* border: 2px solid; */
    box-shadow: 0 0 10px #888888;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
}

.button {
    max-width: 80px;
    margin-bottom: 20px;
}
