.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    border-radius: 10px;
    box-shadow: 0 0 10px #888888;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: center;
    gap: 20px;
}

.button {
    width: 80px;
}
