.form {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.back {
    width: 28px;
}

.inputContainer {
    margin-left: -1px;
    width: 176px;
}

.go {
    margin-left: -1px;
    width: 28px;
}
