.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box, .boxPreviews {
    border-radius: 10px;
    box-shadow: 0 0 10px #888888;
}

.boxPreviews {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.previews {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    gap: 10px;
}

.pager {
    margin-top: auto;
}
