.container {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.nameInput {
    width: 166px;
}

.queryInput {
    width: 174px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.button {
    height: 100%;
}
