.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pageCounter {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.currentPage {
    margin-right: 1ch;
}

.maxPage {
    margin-left: 1ch;
}
