.boxOut {
    border-radius: 10px;
    /* border: 2px solid; */
    box-shadow: 0 0 10px #888888;
    margin-right: 10px;
}

.boxIn {
    border-radius: 10px;
    /* border: 2px solid; */
    box-shadow: 0 0 10px #888888;
    margin-right: 10px;
    width: inherit;
}

.container {
    width: 230px;
}
