.savedQueryContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.savedQueryButtonContainer {
    margin-left: auto;
    margin-right: 0px;
}

.savedQueryButton {
    height: 100%;
}
