.savedQueryContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.savedQueryButtonContainer {
    margin-left: auto;
    margin-right: 0px;
}

.savedQuery {
    max-width: calc(100% - 28px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.button {
    width: 28px;
}
