.form {
    display: flex;
    flex-direction: row;
}

.backContainer {
    width: 30px;
}

.back {
    width: 100%;
}

.inputContainer {
    width: 170px;
}

.goContainer {
    width: 30px;
}

.go {
    width: 100%;
}
