.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: auto;
    height: 90vh;
    min-width: inherit;
    min-height: inherit;
    object-fit: contain;
    object-position: left top;
}
