.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 10px;
    box-shadow: 0 0 10px #888888;
}

.img {
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 5px 5px 5px;
}
