.titleBoxContainer {
    display: flex;
    flex-direction: row;
}

.titleBoxButtonContainer {
    margin-left: auto;
    margin-right: 0px;
}

.titleBoxButton {
    height: 100%;
}

.savedQueriesOuterContainer {
    width: 247px;
    overflow: auto;
    max-height: 300px;
}

.savedQueriesInnerContainer {
    width: 230px;
}
