input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box {
    border-radius: 10px;
    /* border: 2px solid; */
    box-shadow: 0 0 10px #888888;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options {
    width: 360px;
}

.optionContainer {
    margin-bottom: 5px;
}

.optionTitle {
    display: inline-block;
    margin-right: 25px;
}

.optionValue {
    display: inline-block;
    clear: both;
    float: right;
}

.button {
    width: 100px;
}
