.savedQueryContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nameInput {
    width: 170px;
    margin-bottom: -1px;
}

.queryInput {
    width: 176px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.button1, .button2 {
    width: 28px;
}

.button1 {
    margin-left: -1px;
}

.button2 {
    margin-left: -1px;
}
