.container {
    width: inherit;
}

.input {
    box-sizing: border-box;
    width: 100%;
}

.suggestionsOuterContainer {
    position: relative;
    width: inherit;
    z-index: 10;
}

.suggestionsInnerContainer {
    position: absolute;
    width: inherit;
}

.suggestionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.suggestionBox:hover {
    background-color: #F7F7F7;
}

.suggestion {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2px;
    font-size: 12px;
}

.counter {
    color: #9B9B9B;
    margin: 2px;
    font-size: 12px;
}

.fixedContainer {
    position: fixed;
    width: 174px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #999999;
    background-color: #FFFFFF;
}
