.container {
    width: inherit;
}

.input {
    box-sizing: border-box;
    width: 100%;
}

.suggestionsOuterContainer {
    position: relative;
    width: inherit;
}

.suggestionsInnerContainer {
    position: absolute;
    width: inherit;
}

.suggestionBox {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suggestion {
    margin: 2px;
}

.counter {
    margin: 2px;
}

.fixedContainer {
    position: fixed;
    width: inherit;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
}
