.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.selected, .notSelected, .selectedEncrypted, .notSelectedEncrypted {
    max-height: 136px;
    max-width: 136px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.selected {
    border: 2px dashed gray;
    filter: grayscale(100%);
}

.notSelected {
    
}

.selectedEncrypted {
    outline: 5px solid #00FF00;
    border: 2px dashed gray;
    filter: grayscale(100%);
}

.notSelectedEncrypted {
    outline: 5px solid #00FF00;
}
