.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected, .notSelected, .selectedEncrypted, .notSelectedEncrypted {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.selected {
    border: 2px dashed gray;
    filter: grayscale(100%);
}

.notSelected {
    
}

.selectedEncrypted {
    outline: 5px solid #00FF00;
    border: 2px dashed gray;
    filter: grayscale(100%);
}

.notSelectedEncrypted {
    outline: 5px solid #00FF00;
}
