.container {
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected {
    filter: grayscale(100%);
}

.notSelected {
    
}

.selectedEncrypted {
    border: 5px solid #00FF00;
    filter: grayscale(100%);
}

.notSelectedEncrypted {
    border: 5px solid #00FF00;
}
