input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 10px;
    box-shadow: 0 0 10px #888888;
    padding: 5px 5px 5px 5px;
}

.params {
    width: 380px;
}

.paramContainer {
    margin-bottom: 5px;
}

.paramTitle {
    display: inline-block;
    margin-right: 25px;
}

.paramValue {
    display: inline-block;
    clear: both;
    float: right;
}

.button {
    width: 100px;
}
