input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.params {
    width: 350px;
}

.paramContainer {
    margin-bottom: 5px;
}

.paramTitle {
    display: inline-block;
    margin-right: 25px;
}

.paramValue {
    display: inline-block;
    clear: both;
    float: right;
}

.button {
    width: 100px;
}
