.container {
    display: flex;
    flex-direction: row;
    width: 230px;
    height: 21px;
}

.saveLocationContainer {
    word-break: break-all;
}

.titleContainer {
    width: 70px;
}

.inputContainer {
    width: 130px;
}

.input {
    width: 122px;
}

.buttonContainer {
    width: 30px;
}

.button {
    width: 100%;
}
